<div class="regis-header" style="background-color: #FD9691;">
    <div class="container-fluid">
        <img src="{{asset('/acseine_campaign/images/footer_logo.png')}}" alt="ACSEINE" class="img-logo" />
        <h2>ตอบคำถามกับ ACSEINE ลุ้นรับ  Tester  ACSEINE  50 รางวัล  !!</h2>
    </div>
    <div class="container step">
        <img src="{{asset('/acseine_campaign/images/register/regis2-pc-2.png')}}" alt="ACSEINE" class="img pc" />
        <img src="{{asset('/acseine_campaign/images/register/regis2-m-5.png')}}" alt="ACSEINE" class="img m" />
    </div>
</div>
