<div id="sample" class="container">
    <div class="pad pro-sample">
        <img src="{{asset('/acseine_campaign/images/sample/tester-2.png')}}" />
        <div class="text-center">
            <a href="{{path('acseine_campaign_register')}}" class="button red js_waveBtn">ลงทะเบียน</a>
        </div>
    </div>
</div>
