{% extends "ProjectBundle:"~ view_layout ~":layout_campaign.html.twig" %}

{% block title %}TERMS OF USE (PRIVACY & POLICY) | {{ parent() }}{% endblock %}
{% block html_description %}โปรดอ่านทำความเข้าใจและยอมรับเงื่อนไขตามข้อกำหนดเหล่านี้ ก่อนการเข้าสู่เว็บไซต์เพื่อการใช้สินค้า และบริการ จาก ACSEINE ในประเทศไทย{% endblock %}
{% block html_keywords %}Terms of Use,ข้อตกลงการใช้งาน,{{ parent() }}{% endblock %}

{% block content %}

    <section>
        <div class="pad">
            <div class="container">
                <div class="section-title">
                    <h1>TERMS OF USE<br />(PRIVACY & POLICY)</h1>
                </div>

                <div class="terms-of-use">
                    <p>
                        ยินดีต้อนรับสู่เว็บไซต์ www.acseine.in.th เว็บไซต์ที่ให้ข้อมูลเรื่องสินค้า และบริการต่างๆ ของ ACSEINE
                        ในประเทศไทย และในการเข้าสู่เว็บไซต์ ขอให้ท่านได้ทำความเข้าใจและยอมรับเงื่อนไขตามข้อกำหนดเหล่านี้
                        ก่อนการเข้าสู่เว็บไซต์เพื่อการใช้สินค้า และบริการ จากเรา
                    </p>

                    <h3>ลิขสิทธิ์ข้อมูล เนื้อหา และภาพประกอบ</h3>
                    <p>
                        เนื้อหาในเว็บไซต์นี้ รวมถึงภาพกราฟฟิก ตราสินค้า(โลโก้) และไอคอนทั้งหมด เป็นทรัพย์สินของ ACSEINE
                        ภายใต้ลิขสิทธิ์การออกแบบของ ACSEINE และดำเนินการ ประสานงานเผยแพร่เว็บไซต์นี้ในประเทศไทยโดย
                        บริษัท พีไอทีเอช บิวตี้ โปร จำกัด ซึ่งทั้งหมดนี้ได้รับความคุ้มครองด้านลิขสิทธิ์ที่ถูกต้องตามกฏหมาย
                        จึงไม่อนุญาต ให้นำเนื้อหา ภาพกราฟฟิก และตราสินค้า ส่วนหนึ่งส่วนใด หรือทั้งหมดเพื่อการทำซ้ำ ทำสำเนา รวมทั้งการดัดแปลงใดๆ
                        โดยไม่ได้รับการอนุญาตเป็นลายลักษณ์อักษรจากทางบริษัทฯ
                    </p>

                    <h3>ข้อมูลเรื่องสินค้า และการให้บริการ</h3>
                    <p>
                        เนื้อหา รายละเอียดเกี่ยวกับสินค้า และบริการต่างๆ ที่แสดงบนเว็บไซต์นี้ ทางบริษัทฯ ขอสงวนสิทธิ์ในการแก้ไข
                        เปลี่ยนแปลงข้อมูล โดยอาจแจ้ง หรือไม่แจ้งให้ทราบล่วงหน้า
                    </p>
                </div>

            </div>
        </div>

    </section>


{% endblock %}
